@import "variables.css";

#result {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px 20px;
  overflow-y: auto;
}

#result::-webkit-scrollbar {
  display: none; /* Esconde a barra de rolagem */
}

/* Para Firefox */
#result {
  scrollbar-width: none; /* Esconde a barra de rolagem */
}

.card {
  width: 100%;
  display: flex;
  gap: 20px;
  border-radius: 8px;
  padding: 30px 20px;
  background-color: var(--card);
  border: 2px solid var(--border);
  transition: 0.3s;
  /*   border: 1px solid rgba(255, 255, 255, 0.18);
 */
}

.card:hover,
.card:hover .card-partition i {
  border-color: var(--cli-green-hover);
  transition: 0.3s;
}

.contain {
  position: relative;
}

.card-partition {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 20px;
  align-items: center;
  width: 50%;
  text-align: justify;
  font-size: max(0.9rem, 0.9vw);
}

.card-partition i {
  width: 100%;
  font-size: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cli-green) !important;
  border-right: 1px solid var(--border);
  height: 100%;
  transition: 0.3s;
}

.card-partition ul {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  margin: 0;
  gap: 10px;
  /*   border: 1px solid green;
 */
}

.card-partition ul li {
  word-wrap: break-word; /* Quebra palavras longas */
  overflow-wrap: break-word;
  max-width: 100%; /* Garante que o item da lista ocupe todo o espaço disponível */
}

.card-partition ul li a {
  text-decoration: none; /* Remove o sublinhado dos links */
  color: inherit; /* Faz o link herdar a cor do elemento pai */
  color: var(--cli-green-hover);
  border-radius: 4px;
}

.card-partition ul li a:hover {
  text-decoration: underline;
}

.card-partition ul li span {
  font-weight: 600;
}

.hello-world,
.studing,
.playlists {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-decoration-color: var(--cli-green);
  /*   border: 1px solid red;
 */
}

.hello-world pre {
  border: 1px solid var(--cli-green);
  color: var(--cli-green-hover);
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
}

.hello-world span,
.studing span {
  font-weight: 600;
  margin-bottom: 5px;
}

.fade-bottom {
  pointer-events: none;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-image: linear-gradient(to bottom, transparent, var(--bg));
}

.fade-top {
  pointer-events: none;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 5;
  position: absolute;
  background-image: linear-gradient(to top, transparent, var(--bg));
}

@media screen and (max-width: 615px) {
  .card {
    align-items: center;
    flex-direction: column;
    padding: 30px;
  }

  .card-partition {
    width: 100%;
  }

  .card-partition i {
    border-bottom: 1px solid var(--border);
    border-right: none;
    padding-bottom: 30px;
  }
}
