@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "variables.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  background-color: var(--bg);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--cli-green) !important;
  padding: 40px 0px 0px 0px;
  font-family: "Ubuntu Mono", monospace;
}

header,
main {
  width: 60%;
  /*   border: 1px solid green;
 */
}

header {
  padding: 20px 10px;
  text-align: center;
}

header h1 {
  position: relative;
  font-size: max(1.1rem, 1.5vw);
}

#logo {
  position: relative;
  color: var(--font-pry);
}

#logo::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15px;
  right: -10px;
  bottom: -3px;
  background-color: var(--cli-green);
  animation: cursor 1s infinite linear;
  transition: 0.3s all;
}

/* Animação para diminuir e expandir o cursor suavemente */
@keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /*   border: 1px solid red;
 */
}

footer {
  width: 100%;
  flex: 1 1;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 20px 5px;
  flex-direction: column-reverse;
  justify-content: center;
}

.social-medias {
  display: flex;
  gap: 10px;
}

.social-medias ul {
  width: 100%;
  list-style: none;
  display: flex;
  gap: 20px;
  /*   border: 1px solid red;
 */
  text-decoration: none;
}

.social-medias ul li a {
  text-decoration: none;
  color: var(--cli-green);
  /*   border: 1px solid green;
 */
  font-size: 2rem;
  transition: 0.3s;
}

.social-medias ul li a:hover {
  color: var(--cli-green-hover);
  transition: 0.3s;
}

@media screen and (max-width: 814px) {
  header,
  main {
    width: 100%;
    /*   border: 1px solid green;
 */
  }

  footer {
    font-size: .8rem;
  }
}
